<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/community"
              auth="Container"
              type="javax.sql.DataSource"
              maxTotal="20"
              maxIdle="10"
              maxWaitMillis="10000"
              username="appuser"
              password="apppass"
              driverClassName="com.mysql.cj.jdbc.Driver"
              url="jdbc:mysql://community-mysql:3306/community?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false&amp;allowPublicKeyRetrieval=true"/>
</Context>
