apiVersion: apps/v1
kind: Deployment
metadata:
  name: tomcat-deployment
  namespace: was
  labels:
    app: tomcat-was
spec:
  replicas: 3
  selector:
    matchLabels:
      app: tomcat-was
  template:
    metadata:
      labels:
        app: tomcat-was
    spec:
      containers:
      - name: tomcat-container
        # 여기 부분 꼭 자기거에 맞게 !!
        image: 311278774159.dkr.ecr.ap-northeast-2.amazonaws.com/community-tomcat:v1.0
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 500m
            memory: 512Mi
          limits:
            cpu: 1000m
            memory: 1Gi
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 5
      imagePullSecrets:
      - name: ecr-secret